.about-text{
    font-size: 1.5rem;
    font-weight: 300;
    word-spacing: 2.5px;
    line-height: 26pt;
}
.overlay-mf{
    background-color: black !important;
}
color-black{
    color: black !important;
}